<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mappers.Business">
    
    
	<!-- 내림차순 정렬로 등록일 기준으로 최신순으로 받아온다. -->
  <select id="selectById" resultType="BusinessVO">
  	SELECT id, good, comment, company_id AS companyId FROM business WHERE id=#{id};
 </select>
  
   <select id="selectByCompanyId" resultType="BusinessVO">
    	SELECT id, good, comment, company_id AS companyId FROM business WHERE company_id=#{companyId};
  </select>
  
    <update id="updateGoodCount" parameterType="Integer">
    	UPDATE  business SET good = good+1 WHERE id=#{id};
 	 </update> 
    
    <insert id="insert" parameterType="BusinessVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    	INSERT INTO business(good, comment)	VALUES(0, "사장님의 한마디!");
    </insert>
    
 	 
 	 
 </mapper>