<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.webproject.essuyo.dao.CompanyDao">
<select id="listAll" resultType="CompanyVO">
<![CDATA[
select *
from company
order by id
limit 0, 4;
]]>
</select>

<select id="select" resultType="CompanyVO">
<![CDATA[
SELECT id, name, type, score, discription, address, number, url, state, time, 
total_visit AS totalVisit, today_visit AS todayVisit, area_list_id AS areaListId 
FROM company WHERE id = #{companyId};
]]>
</select>



</mapper>