<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mappers.NoticeMapper">

<insert id="create">
insert into notice (title, content, user_id)
values (#{title}, #{content}, #{userID})
</insert>

<select id="read" resultType="com.webproject.essuyo.domain.NoticeVO">
	select noticeNum, title, reg_date AS regDate, content, user_id AS userID
	from notice
	where noticeNum=#{noticeNum}
</select>

<update id="update">
	update notice set title=#{title}, content=#{content}
	where noticeNum=#{noticeNum}
</update>

<delete id="delete">
	delete from notice where noticeNum=#{noticeNum};
</delete>

<select id="listAll" resultType="com.webproject.essuyo.domain.NoticeVO">
<![CDATA[
	select noticeNum, title, content, user_id AS userID, reg_date AS regDate
	from notice where noticeNum > 0
	order by noticeNum desc, regDate desc
]]>
</select>

</mapper>
