<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.Product">

	<!-- 상품 ID를 통해 상품 정보를 받아온다. -->
	<select id="selectById" resultType="ProductVO">
		SELECT id, name, discription, sale_start_date AS saleStartDate, 
		sale_end_date AS saleEndDate, price 
		FROM product WHERE id=#{id};
	</select>

	<insert id="insert" parameterType="ProductVO">
		INSERT INTO  product(name, discription, sale_start_date, sale_end_date, price)
		VALUES(#{name}, #{discription}, #{saleStartDate} , #{saleEndDate} , #{price} )
	</insert>
	
	<update id="updateById" parameterType="ProductVO">
		UPDATE product 

		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">name = #{name} ,</if>
			<if test="count != null">count = #{count} ,</if>
			<if test="discription != null">discription = #{discription} ,</if>
			<if test="price != null"> price = #{price} ,</if>
		</trim>
				WHERE id=#{id}
	</update>
	
	
	<select id="selectManagerByProductId" resultType="ProductManagerVO">
		SELECT id, sale_date AS saleDate, count, product_id AS productId
		FROM product_manager WHERE product_id=#{id} AND count > 0;
	</select>
	
	<select id="selectManagerDisableDate" resultType="String">
		<![CDATA[ SELECT sale_date  FROM product_manager WHERE product_id=#{id} AND count <= 0 ]]>
	</select>
	

	


</mapper>