<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    
    <mapper namespace="com.webproject.essuyo.dao">
<!--     회원가입용 sql문. 프라이머리 키인 id는 자동 증가고, cre_date는 now()를 이용했다.-->
    <insert id="regist">
    insert into user(name, email, password, fail_password, age, gender, cre_date) values(#{name},#{email},#{password}, 0, #{age},#{gender}, NOW());
    
    </insert>
    
<!--     로그인용 sql문. email과 password를 user 테이블에서 찾는다 -->
    <select id="login" resultType="com.webproject.essuyo.domain.UserVO">
    select * from user where email = #{email} and password = #{password}
    </select>
    
<!--     이메일 중복체크용 sql 입력된 이메일을 카운트한다-->
<select id="checkId" resultType="int">
select count(*) from user where email = #{email}
</select>



	
<select id="selectById" resultType="UserVO">
	SELECT id, name, age, gender, email, password, fail_password, cre_date AS creDate, last_date AS lastDate,
	total_reply AS totalReply, business_id AS businessId, image_info_id AS imageInfoId FROM user

	<choose>
   			 <when test="type != null and type.equals('user')">
					WHERE id = #{id}
   			 </when>
    		 <when test="type != null and type.equals('business')">
					WHERE business_id = #{id}
    		</when>
    		
    </choose>

</select>

<select id="selectByEmail" resultType="UserVO">
	SELECT id, name, age, gender, email, password, fail_password, cre_date AS creDate, last_date AS lastDate,
	total_reply AS totalReply, business_id AS businessId, image_info_id AS imageInfoId FROM user
	WHERE email = #{email}
</select>


   
    
    </mapper>